* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.codePanel {
  flex: 8;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Space between codePanel and propertiesPanel */
}

textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
  resize: none;
  margin-bottom: 10px;
  overflow: auto;
  height: 95%;
}

.propertiesPanel {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.propBox {
  margin-bottom: 15px;
}

.propBox p {
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

button:hover {
  background-color: #45a049;
}

#messageLabel {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}
