* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

body {
  font-family: "Fredoka", serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #252525;
  color: white;
  overflow: hidden;
}

#title_p {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#description_p {
  font-size: 14px;
  color: #aaa;

  /* Limit the number of lines */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-top: 10px;
}

.saved-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  justify-content: center;
  justify-items: center;

  gap: 35px 0;
  padding: 25px;
}

.saved-gallery:empty {
  justify-items: center;
}

saved-code-preview {
  padding: 20px;

  background-color: #2D2D2D;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  visibility: hidden;
  will-change: opacity, transform;

  min-width: 275px;
  max-width: 275px;

  min-height: 120px;
  max-height: 120px;

  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

saved-code-preview:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 16px #720eb4;

  cursor: pointer;
}

.searchBox {
  min-width: 30%;
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.searchBox input {
  min-width: 90%;
  padding: 10px;

  background-color: #373737;
  color: white;
  
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.20);
  
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;

  font-family: "Fredoka", serif;
  font-size: 16px;
}
.searchBox button {
  width: 42px;
  padding: 0;

  border-radius: 0 10px 10px 0;
  background-color: #373737;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.20);
}

.searchBox button i {
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.15);
  padding-right: 2px;
}

.searchBox button:hover {
  background-color: #434343;
}

.centeredOnPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.centeredOnPage button {
  width: 200px;
  font-weight: 500;

  animation: fadeInSlideUp 0.4s ease forwards;
  animation-delay: 0.15s;
  opacity: 0;
}
.centeredOnPage p {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.4);

  animation: fadeInSlideUp 0.4s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}