body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  display: flex;
  gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea, select, #saveSnippetButton {
  width: 165px;
  height: 35px;
}
#descriptionInput {
  width: 165px;
  height: 215px;
  resize: none;
}

#codeInput {
  width: 350px;
  height: 350px;
  resize: none;
}

.propertiesPanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
